      #chart{
        width: 800px;
        margin: 0 auto;
      }
      .background {
        fill: #eee;
      }

      line {
        stroke: #fff;
      }

      text.active {
        fill: red;
      }

      .day {
        fill: #fff;
        stroke: #ccc;
      }

      .month {
        fill: none;
        stroke: #fff;
        stroke-width: 4px;
      }
      .year-title {
        font-size: 1.5em;
      }

      /* color ranges */
      .RdYlGn .q0-12{fill:rgb(184,204,228)}
      .RdYlGn .q1-12{fill:rgb(217,151,149)}
      .RdYlGn .q2-12{fill:rgb(117,146,60)}
      .RdYlGn .q3-12{fill:rgb(250,192,144)}
      .RdYlGn .q4-12{fill:rgb(33,88,103)}
      .RdYlGn .q5-12{fill:rgb(146,208,80)}
      .RdYlGn .q6-12{fill:rgb(112,48,160)}
      .RdYlGn .q7-12{fill:rgb(149,55,53)}
      .RdYlGn .q8-12{fill:rgb(255,192,0)}
      .RdYlGn .q9-12{fill:rgb(148,139,84)}
      .RdYlGn .q10-12{fill:rgb(64,64,64)}
	  .RdYlGn .q11-12{fill:rgb(255,0,0)}
      /* hover info */
      #tooltip {
        background-color: #fff;
        border: 2px solid #ccc;
        padding: 10px;
      }
